@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Baloo+Chettan+2&family=Play&display=swap");

* {
  box-sizing: border-box;
}

/*font-family: 'Amatic SC', cursive;
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Play', sans-serif;*/

/*This goes around the main content*/
.wrapper {
  width: 80%;
  margin: auto;
  background: rgba(179, 204, 140, 0.2);
  padding: 50px;
  border: 1.5px dotted black;
  max-width: 750px;
}

/*This is the image in the header*/
.mountains {
  background-image: url(images/mountains.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

/*main background*/
html {
  background: url(images/background.png) rgb(187, 183, 172);
}
/*These next 2 are the containers for my name and title in the header*/
h1 span {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 60px;
  background: rgba(179, 204, 140, 0.7);
  color: rgb(231, 240, 239);
  border-radius: 6px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}

h2 span {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 30px;
  background: rgba(179, 204, 140, 0.7);
  color: rgb(231, 240, 239);
  border-radius: 6px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}

h3 {
  font-family: "Baloo Chettan 2", cursive;
}

P {
  font-family: "Play", sans-serif;
}

ul {
  font-family: "Baloo Chettan 2", cursive;
  font-style: oblique;
  list-style: circle inside none;
}

.text-centered {
  text-align: center;
}
/*created these to help with spacing*/
.gap-xsm {
  height: 10px;
  width: auto;
}
.gap-sm {
  height: 20px;
  width: auto;
}
.gap-md {
  height: 100px;
  width: auto;
}
.gap-lg {
  height: 300px;
  width: auto;
}

/*This is the container for my lists*/
.wrapper-list {
  width: 140px;
  margin: auto;
  text-align: left;
}

.wrapper-list2 {
  width: 60%;
  margin: auto;
  text-align: left;
  word-wrap: normal;
  max-width: 320px;
}

/*This code is to create buttons for my links at the end of the page*/
.btn {
  display: inline-block;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  color: rgb(231, 240, 239);
  background-color: rgba(179, 204, 140);
  border-color: rgba(179, 204, 140);
}
